.yahoo-icon{
	height: 80px;
	width: 80px;
}

.yahoo-logo{
	height:46px;
	width: 208px;
}
.material-symbols-outlined{
	float: right;
}


.menu p{
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 17px;
	font-weight: bold;
	color: #85586F;
}

.messenger{
	text-align: right;
	width: 93%;
}
.help{
	text-align: right;
	width: 4%;
}








body{
	width: 100%;
	height: 100vh;
	margin: 0;
	font-size: 16px;
	background-image: url(https://wallpapercave.com/wp/wp11070508.jpg);
	background-size: 1800px;
	font-family: 'Quicksand', sans-serif;

}

form{
	width: 80vw;
	margin: 0 auto;
	max-width: 650px;
	min-width: 400px;
	background: rgb(222, 182, 171);
	color: #ffffff;
	padding: 2em;
	border-radius: 5px;
}

.whole-form{
	background: rgb(248, 236, 209);
}


